<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container">
        <table class="table">
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th>생성일</th>
            </tr>
            <tr th:each="article, loop : ${articleList}">
                <td th:text="${loop.count}"></td>
                <td><a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}">
                </a></td>
                <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd')}"></td>
            </tr>

        </table>
        <a class="btn btn-primary" href="/article/create">게시글 등록</a>
    </div>



</html>

